

.spaceRight{
    padding-left: 70px;
    text-align: center;
}

.spaceBetween{
    margin-top: 60px;
}

.background{
    background-color: whitesmoke;
}

.autoComp{
    text-align: center;
    margin: 50px 50px ;
}
